*{
    font-family: 'Roboto', sans-serif;

}


.content{
    text-align: center;
    padding: 1rem;
}


ol.jogadores{
    list-style:none;
    padding: 4rem;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

ol.jogadores li{

    margin: 0.5em;
    padding:1rem;
    background-color: rgb(201, 113, 113);
    border-radius: 1rem;
    width: 150px;
    display: flex;
    flex-direction: column;

}




















